<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!-- Launcher Parameters -->
    <add key="AppName" value=""/>
    <add key="AppPath" value=""/>

    <!-- The following key is not required but is necessary to run scripts elevated and to close the stream gracefully.
          This will need to be the user account and password of an account with admin access on the local machine. -->
    <add key="AdminAccount" value=""/>
    <add key="AdminPassword" value=""/>

    <!-- Multi-monitor Parameters -->
    <add key="MultiMonSwitchEnabled" value="false"/>

    <!-- Miner Parameters -->
    <add key="AwesomeMinerSwitchEnabled" value="false"/>
    <add key="AwesomeMinerUrl" value="127.0.0.1"/>
    <add key="AwesomeMinerPort" value=""/>
    <add key="AwesomeMinerKey" value=""/>
    
    <!-- Custom Script Parameters -->
    <add key="ScriptsEnabled" value="false"/>
    <add key="StartupScriptPath" value=""/>
    <add key="StartupScriptParameters" value=""/>
    <add key="StartupScriptElevated" value="false"/>
    <add key="ShutdownScriptPath" value=""/>
    <add key="StartupScriptParameters" value=""/>
    <add key="ShutdownScriptElevated" value="false"/>

    <!-- Custom Script Parameters -->
  </appSettings>
</configuration>