<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GamestreamLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <GamestreamLauncher.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>Gamestream</value>
      </setting>
      <setting name="AppPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MultiMonSwitchEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AwesomeMinerSwitchEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScriptsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AwesomeMinerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="AwesomeMinerPort" serializeAs="String">
        <value />
      </setting>
      <setting name="AwesomeMinerKey" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupScriptPath" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupScriptParameters" serializeAs="String">
        <value />
      </setting>
      <setting name="ShutdownScriptPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ShutdownScriptParameters" serializeAs="String">
        <value />
      </setting>
    </GamestreamLauncher.Properties.Settings>
  </userSettings>
</configuration>